body,
.view-login,
.view-register,
.view-passwordreset {
    .content-wrapper {
        .square(auto);

        margin: 0;
        padding: 0;
        background: none;
        padding-bottom: @layout-bottom-spacing;

        @media (min-width: @screen-xs-max) {
            min-height: 100vh;
            margin-top: -@layout-header-height - @layout-footer-height;
            padding-top: @layout-header-height + @layout-footer-height;
        }
    }
}

.content-wrapper {
    > .introduction {
        .ionisx-container();

        margin-top: @layout-top-spacing;
        background: none;

        header {
            .square(auto);

            background: none;
            border: 0 none;

            h1.title {
                font: inherit;
                color: inherit;
                position: static;
                padding: 0;
                margin: 0;

                .title-super {
                    display: block;
                    font: inherit;
                    font-size: @font-size-h1;
                    color: @color-primary;
                    text-transform: none;
                }

                .title-sub {
                    display: block;
                    font: inherit;
                    color: inherit;
                    font-weight: 300;
                    text-transform: none;
                    margin: 0;
                }
            }
        }
    }

    @import 'course/main.less';

    @import 'static.less';
    @import 'error.less';

    @import 'homepage.less';
    @import 'courses.less';
    @import 'dashboard.less';

    @import 'register.less';
    @import 'login.less';
    @import 'password-reset.less';
    @import 'activation.less';
}
