.register {
    .ionisx-container();

    margin-top: @layout-top-spacing;
    background: none;

    @_aside-size: 300px;

    .content {
        .size(100%, auto);

        margin: 0;

        @media (min-width: @screen-md-min) {
            margin-right: -@_aside-size;
            padding-right: @_aside-size + 40px;
            float: left;
        }

        a {
            font: inherit;
            color: @gg-blue;
        }

        form {
            .status {
                .ionisx-alert();
            }

            .list-input {
                color: inherit;
                font: inherit;

                 > li {
                     position: relative;
                 }
            }

            label {
                font: inherit;
                color: inherit;
            }

            .field.is-focused label {
                color: @gg-blue;
            }

            input[type=text],
            input[type=email],
            input[type=password],
            textarea {
                .ionisx-input();
            }

            .group-form-accountacknowledgements {
                position: relative;
            }

            .form-actions {
                button[type=submit] {
                    .ionisx-btn(@white, @gg-alt-blue);
                }
            }
        }
    }

    aside {
        .hidden-xs();
        .hidden-sm();
        .size(@_aside-size, auto);

        padding: 0;
        margin: 0;
        float: right;

        p {
            font: inherit;
            color: inherit;

            font-size: 0.9em;
        }

        a {
            font: inherit;
            color: @gg-blue;
        }
    }
}
