<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>À propos de IONIS Online Courses</title></%block>

<section class="container about">
    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/ioc-edx-theme/images/contact-email.png')}" alt="Email Contact" />
      </div>
      <article id="ionis-online-courses-contact">
        <h2>Nous contacter</h2>
        <p><strong>Vous pouvez nous contacter par email à l'adresse :</strong><br />
        <a href="mailto:digital.learning@ionis-group.com">digital.learning@ionis-group.com</a></p>
      </article>
    </section>

</section>
