<%inherit file="/main.html" />

<%namespace name='static' file='/static_content.html'/>

<%block name="pagetitle">Contact</%block>

<section class="static-container contact">
  <h1>Nous contacter</h1>
  <hr class="horizontal-divider">

  <div class="inner-wrapper">
    <article id="ionis-online-courses-contact">
      <p>
        Vous pouvez nous contacter par email à l’adresse :
        <a href="mailto:digital.learning@ionis-group.com">digital.learning@ionis-group.com</a>.
      </p>
    </article>
  </div>
</section>
