<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>À propos de IONIS Online Courses</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
        $('section.message').hide();
        $('#about-menu a').removeClass('active');
        window.scrollTo(0,0);

        if (document.location.href.indexOf('#ibc') > -1) {
            $('section#ibc').show();
            $('#about-menu a.ibc').addClass('active');
        } else {
            $('section#about').show();
            $('#about-menu a.about').addClass('active');
        }

        $('#about-menu a').click(function(event) {
            event.preventDefault();
            $('#about-menu a').removeClass('active');
            $(this).addClass('active');
            var clickId = "section" + $(this).attr('href');
            $('section.message').hide();
            $(clickId).show();
        });
    });
  </script>
</%block>

<section class="container about">
  <nav id="about-menu">
    <a href="#about" class="about active">À Propos</a>
    <a href="#ibc" class="ibc">IONIS Brand Culture</a>
  </nav>

  <section class="vision">
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/ioc-edx-theme/images/ionis-campus-paris-sud.jpg')}" alt="Campus IONIS Paris Sud" />
      </div>
      <article>
        <h2>À propos de IONIS Online Courses</span></h2>

        <p>IONIS Education Group développe de nouveaux supports de cours en ligne complétant ses enseignements en campus et permettant au grand public d'accéder à ses contenus originaux.</p>
        <p>Nous exécutons et développons une instance de la plateforme <a href="http://code.edx.org">OpenEdX</a>.</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>

    <section class="message left" id="ibc">
      <div class="photo">
        <img src="${static.url('themes/ioc-edx-theme/images/ionis-brand-culture.png')}" alt="IONIS Brand Culture" />
      </div>
      <article>
        <h2>IONIS Brand Culture</h2>
        <p>En attendant de profiter des enseignements à venir sur IONIS Online Courses, vous pouvez d'ores et déjà consulter <a href="http://www.ionisbrandculture.com/">IONIS Brand Culture</a>, une initiative originale dont l'objectif est d’apporter une bonne connaissance et compréhension des grandes réussites de référence dans les domaines du marketing et de la communication</strong><br />
        </p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
