body {
    font-family: @font-family-base;
    font-size: @font-size-base;
    color: @black;
    -webkit-font-smoothing: auto;
}

h1 {
    color: inherit;
    font-weight: 500;
}

h2 {
    color: @gg-blue;
    text-transform: none;
}

h3 {
    color: inherit;
}

h4 {
    color: @gg-blue;
    font-weight: 500;
}

p {
    color: inherit;
    font: inherit;

    &.justified {
        .text-justify();
    }
}

a, a:link, a:visited,
p a, p a:link, p a:visited {
    font: inherit;
    color: @gg-blue;
    outline: none;

    &:hover, &:focus, &:active {
        border: 0 none;
        outline: none;
    }
}

label {
    color: inherit;
    font: inherit;
}

span {
    color: inherit;
    font: inherit;
}


// Ugly things go here for now :

body,
.view-login,
.view-register,
.view-passwordreset {
    .container {
        .edx-container();
    }

    // section.introduction,
    .static-container,
    nav.course-material .inner-wrapper {
        .square(auto);
        .container();

        min-width: 0;
        max-width: none;
    }

    .content-wrapper {
        background: none;
        min-height: 100vh;
        margin-top: -@layout-header-height - @layout-footer-height;
        padding-top: @layout-header-height + @layout-footer-height;
    }
}


.static-container ol li,
.static-container ul li {
    font: inherit;
    color: inherit;
}

.static-container
.inner-wrapper {
    .square(auto);
}


.instructor-dashboard-wrapper-2 section.idash-section#membership .member-lists-management .auth-list-container .member-list-widget .label {
    display: table-cell;
}
