a, a:link, p a, p a:link {
    &:hover {
        border: 0 none;
    }
}

p {
    font-family: @font-family-sans-serif;
    color: @black;
}

body,
.view-login,
.view-register,
.view-passwordreset {
    .container {
        .edx-container();
    }

    // section.introduction,
    nav.course-material .inner-wrapper {
        .square(auto);
        .container();

        min-width: initial;
        max-width: initial;
    }

    .content-wrapper {
        background: none;
        min-height: 100vh;
        margin-top: -177px;
        padding-top: 177px;
    }
}
