a, a:link, p a, p a:link {
    &:hover {
        border: 0 none;
    }
}

p {
    font-family: @font-family-sans-serif;
    color: @black;
}

body,
.view-login,
.view-register,
.view-passwordreset {
    header.global > nav,
    .container,
    section.home > section.container,
    section.introduction,
    section.course-info header.course-profile .intro-inner-wrapper,
    nav.course-material .inner-wrapper,
    .wrapper-footer footer {
        .square(auto);
        .container();

        min-width: initial;
        max-width: initial;
    }

    .content-wrapper {
        background: none;
        min-height: 100vh;
        margin-top: -177px;
        padding-top: 177px;
    }
}
