////////////////////////////////////////////////////////////////////////
// Colors                                                             //
////////////////////////////////////////////////////////////////////////

@white: #fff;
@black: #000;

@gg-blue: #3ea5ce;
@gg-grey: #eef0f1;
@gg-alt-blue: #0f70b7;

@gg-pomegranate: #c0392b;
@gg-emerald: #2ecc71;
@gg-orange: #f39c12;

@gg-border-grey: #ddd;


////////////////////////////////////////////////////////////////////////
// Fonts                                                              //
////////////////////////////////////////////////////////////////////////

@font-family-sans-serif: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
@font-family-serif: Georgia, 'Times New Roman', Times, serif;
