<%! from django.utils.translation import ugettext as _ %>
<%!
  from django.core.urlresolvers import reverse
  from courseware.courses import course_image_url, get_course_about_section
  from courseware.access import has_access
  from django.conf import settings
  from edxmako.shortcuts import marketing_link

  if settings.FEATURES.get('ENABLE_SHOPPING_CART'):
      cart_link = reverse('shoppingcart.views.show_cart')
  else:
      cart_link = ""
%>
<%namespace name='static' file='../static_content.html'/>
<%! from microsite_configuration import microsite %>

<%inherit file="../main.html" />

<%block name="headextra">

  <%
    if self.theme_enabled():
      google_analytics_file = u'../{ga}'.format(
        ga=microsite.get_value('google_analytics_file', 'theme-google-analytics.html')
      )
    else:
      google_analytics_file = '../google_analytics.html'
  %>

  <%include file="${google_analytics_file}" />

  ## OG (Open Graph) title and description added below to give social media info to display
  ## (https://developers.facebook.com/docs/opengraph/howtos/maximizing-distribution-media-content#tags)
  <meta property="og:title" content="${get_course_about_section(course, 'title')}" />
  <meta property="og:description" content="${get_course_about_section(course, 'short_description')}" />
</%block>

<%block name="js_extra">

  <script type="text/javascript">
  (function() {
    $(".register").click(function(event) {
      $("#class_enroll_form").submit();
      event.preventDefault();
    });

    % if settings.FEATURES.get('ENABLE_SHOPPING_CART') and settings.FEATURES.get('ENABLE_PAID_COURSE_REGISTRATION'):
      add_course_complete_handler = function(jqXHR, textStatus) {
        if (jqXHR.status == 200) {
          location.href = "${cart_link}";
        }
        if (jqXHR.status == 400) {
          $("#register_error")
            .html(jqXHR.responseText ? jqXHR.responseText : "${_('An error occurred. Please try again later.')}")
            .css("display", "block");
        }
        else if (jqXHR.status == 403) {
            location.href = "${reg_then_add_to_cart_link}";
        }
      };
      $("#add_to_cart_post").click(function(event){
        $.ajax({
          url: "${reverse('add_course_to_cart', args=[course.id])}",
          type: "POST",
          /* Rant: HAD TO USE COMPLETE B/C PROMISE.DONE FOR SOME REASON DOES NOT WORK ON THIS PAGE. */
          complete: add_course_complete_handler
        })
        event.preventDefault();
      });
    % endif

    ## making the conditional around this entire JS block for sanity
    %if settings.FEATURES.get('RESTRICT_ENROLL_BY_REG_METHOD') and course.enrollment_domain:
      <%
        perms_error = _('The currently logged-in user account does not have permission to enroll in this course. '
                        'You may need to {start_logout_tag}log out{end_tag} then try the register button again. '
                        'Please visit the {start_help_tag}help page{end_tag} for a possible solution.').format(
                          start_help_tag="<a href='{url}'>".format(url=marketing_link('FAQ')), end_tag='</a>',
                          start_logout_tag="<a href='{url}'>".format(url=reverse('logout'))
                          )
      %>
    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        location.href = "${reverse('dashboard')}";
      } else if (xhr.status == 403) {
        location.href = "${reverse('course-specific-register', args=[course.id])}?course_id=${course.id}&enrollment_action=enroll";
      } else if (xhr.status == 400) { //This means the user did not have permission
        $('#register_error').html("${perms_error}").css("display", "block");
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : "${_("An error occurred. Please try again later.")}")
        ).css("display", "block");
      }
    });

    %else:

    $('#class_enroll_form').on('ajax:complete', function(event, xhr) {
      if(xhr.status == 200) {
        if (xhr.responseText == "") {
          location.href = "${reverse('dashboard')}";
        }
        else {
          location.href = xhr.responseText;
        }
      } else if (xhr.status == 403) {
        location.href = "${reverse('register_user')}?course_id=${course.id}&enrollment_action=enroll";
      } else {
        $('#register_error').html(
            (xhr.responseText ? xhr.responseText : 'An error occurred. Please try again later.')
        ).css("display", "block");
      }
    });

    %endif

  })(this)
  </script>

  <script src="${static.url('js/course_info.js')}"></script>
</%block>

<%block name="pagetitle">${get_course_about_section(course, 'title')}</%block>

<section class="course-info">
  <header class="course-profile">
    <div class="intro-inner-wrapper">
      <div class="table">
      <section class="intro">
        % if get_course_about_section(course, "video"):
          <a href="#video-modal" class="media" rel="leanModal">
            <div class="hero">
              <img src="${course_image_url(course)}" alt="" />
              <div class="play-intro"></div>
            </div>
          </a>
        %else:
          <div class="media">
            <div class="hero">
              <img src="${course_image_url(course)}" alt="" />
            </div>
          </div>
        % endif
        <div class="metadata">
          <hgroup>
            <h1>
              ${get_course_about_section(course, "title")}
            </h1>
            <div class="info">
              <span class="university">${get_course_about_section(course, "university")}</span>
            </div>
          </hgroup>
          <div class="short-description">
            <p>${get_course_about_section(course, 'short_description')}</p>
          </div>
        </div>
        <div class="cleaner"></div>
        <div class="social-sharing">
          % if microsite.get_value('course_about_show_social_links', True):
            <%
              course_about_url = "https://edx.courses.ionis-group.com{path}".format(path=reverse('about_course', args=[course.id]))
              tweet_action = u"http://twitter.com/intent/tweet?text=Découvrez+le+cours+« {course_name} »+sur+@IONISx !+{course_about_url}".format(course_name=get_course_about_section(course, 'title'), course_about_url=course_about_url)
            %>
            <a href="${tweet_action}" target="_blank">
              <span class="icon-twitter-sign"></span>
            </a>
            <a href="https://www.facebook.com/IONISx" target="_blank" class="facebook">
              <span class="icon-facebook-sign"></span>
            </a>
          % endif
        </div>
          <div class="main-cta">
            %if user.is_authenticated() and registered:
              %if show_courseware_link:
                <a href="${course_target}">
              %endif
              <span class="register disabled">${_("You are registered for this course")}</span>

              %if show_courseware_link:
                <strong>${_("View Courseware")}</strong>
                </a>
              %endif

              %elif in_cart:
                <span class="add-to-cart">
                  ${_('This course is in your <a href="{cart_link}">cart</a>.').format(cart_link=cart_link)}
              </span>
              %elif settings.FEATURES.get('ENABLE_PAID_COURSE_REGISTRATION') and registration_price:
              <%
                if user.is_authenticated():
                  reg_href = "#"
                  reg_element_id = "add_to_cart_post"
                else:
                  reg_href = reg_then_add_to_cart_link
                  reg_element_id = "reg_then_add_to_cart"
              %>
                <a href="${reg_href}" class="add-to-cart" id="${reg_element_id}">
                  ${_("Add {course.display_number_with_default} to Cart ({currency_symbol}{cost})")\
                    .format(course=course, currency_symbol=settings.PAID_COURSE_REGISTRATION_CURRENCY[1], cost=registration_price)}
                </a>
                <div id="register_error"></div>
              % elif is_course_full:
                <span class="register disabled">
                  ${_("Course is full")}
                </span>
              %else:
                <a href="#" class="register">S’inscrire à ce cours</a>
                <div id="register_error"></div>
              %endif
            </div>
        </section>
      </div>
    </div>
  </header>

  <section class="container">
    <section class="details">
      <div class="course-summary">
      </div>
      <div class="inner-wrapper">
          <table class="course-summary">
            <thead>
              <tr>
                % if not course.start_date_is_still_default:
                  <th class="course-start">
                    <span class="icon-calendar"></span>
                    ${_("Classes Start")}</th>
                % endif
                  </th>
                % if get_course_about_section(course, "end_date") or course.end:
                  <th class="course-end">
                    <span class="icon-calendar"></span>
                    ${_("Classes End")}</p>
                  </th>
                % endif
                % if get_course_about_section(course, "effort"):
                  <th class="course-effort">
                    <span class="icon-time"></span>
                    ${_("Estimated Effort")}
                  </th>
                % endif
                % if get_course_about_section(course, "prerequisites"):
                  <th class="course-prereq">
                    <span class="icon-cogs"></span>
                    ${_("Prerequisites")}
                  </th>
                % endif
              </tr>
            </thead>
            <tbody>
              <tr>
                % if not course.start_date_is_still_default:
                  <td>
                    ${course.start_date_text}
                  </td>
                % endif
                % if get_course_about_section(course, "end_date") or course.end:
                  <td>
                    % if get_course_about_section(course, "end_date"):
                      ${get_course_about_section(course, "end_date")}
                    % else:
                      ${course.end_date_text}
                    % endif
                  </td>
                % endif
                % if get_course_about_section(course, "effort"):
                  <td>
                    ${get_course_about_section(course, "effort")}
                  </td>
                % endif
                % if get_course_about_section(course, "prerequisites"):
                  <td>
                    ${get_course_about_section(course, "prerequisites")}
                  </td>
                % endif
              </tr>
            </tbody>
          </table>
        ${get_course_about_section(course, "overview")}
      </div>
    </section>

      ## For now, ocw links are the only thing that goes in additional resources
      % if get_course_about_section(course, "ocw_links"):
      <section class="additional-resources">
        <header>
          <h1>${_("Additional Resources")}</h1>
        </header>

        <section>
          ## "MITOpenCourseware" should *not* be translated
          <h2 class="opencourseware">MITOpenCourseware</h2>
             ${get_course_about_section(course, "ocw_links")}
        </section>
      </section>
      %endif
    </section>

  </section>
</section>

%if not registered:
  <div style="display: none;">
    <form id="class_enroll_form" method="post" data-remote="true" action="${reverse('change_enrollment')}">
      <fieldset class="enroll_fieldset">
        <input name="course_id" type="hidden" value="${course.id}">
        <input name="enrollment_action" type="hidden" value="enroll">
      </fieldset>
      <div class="submit">
        <input name="submit" type="submit" value="enroll">
      </div>
    </form>
  </div>
%endif

<%include file="../video_modal.html" />
