/* ==========================================================================
   Global
   ========================================================================== */

html, body {
    background-color: white;
}

h2 {
    color: #3ea5ce;
    /*text-transform: none;*/
}

ul {
    color: #000;
    font: normal 1em/1.6em "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0.5em 0 1em 0;
}

.container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    padding-left: 15px;
    padding-right: 15px;
}


/* ==========================================================================
   Content
   ========================================================================== */

.content-wrapper,
.view-register .content-wrapper,
.view-login .content-wrapper,
.view-passwordreset .content-wrapper {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-color: #eef0f1;
    min-height: 100vh;
    margin-top: -177px;
    padding-top: 177px;
}

.content-wrapper .home header,
.content-wrapper .find-courses header.search {
    display: none;
}

.view-register .content-wrapper .container,
.view-register .content-wrapper .introduction,
.view-login .content-wrapper .container,
.view-login .content-wrapper .introduction,
.view-passwordreset .content-wrapper .container,
.view-passwordreset .content-wrapper .introduction {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: auto;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    background: none;
}

.view-register .content-wrapper .container > section.content,
.view-login .content-wrapper .container > section.content,
.view-passwordreset .content-wrapper .container > section.content {
    width: auto;
    min-width: 700px;
    margin: 20px 30px 0 0;
}

.view-login .content-wrapper .introduction > header,
.view-register .content-wrapper .introduction > header,
.view-passwordreset .content-wrapper .introduction > header {
    height: auto;
    margin-top: 30px;
    border-bottom: 1px solid #8a8c8f;
}

.view-login .content-wrapper .introduction > header > h1.title,
.view-register .content-wrapper .introduction > header > h1.title,
.view-passwordreset .content-wrapper .introduction > header > h1.title {
    position: static;
    padding: 0;
    margin: 0 0 30px 0;
}

.view-login .content-wrapper .introduction > header > h1.title > span.title-super,
.view-login .content-wrapper .introduction > header > h1.title > span.title-sub,
.view-register .content-wrapper .introduction > header > h1.title > span.title-super,
.view-register .content-wrapper .introduction > header > h1.title > span.title-sub,
.view-passwordreset .content-wrapper .introduction > header > h1.title > span.title-super,
.view-passwordreset .content-wrapper .introduction > header > h1.title > span.title-sub {
    text-transform: none;
}

/* ==========================================================================
   Footer
   ========================================================================== */

.view-login .wrapper-footer,
.view-register .wrapper-footer,
.view-passwordreset .wrapper-footer,
.wrapper-footer {
    background-color: #3ea5ce;
    box-shadow: none;
    border: 0 none;
}


.view-login .wrapper-footer > footer,
.view-register .wrapper-footer > footer,
.view-passwordreset .wrapper-footer > footer,
.wrapper-footer > footer {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    width: auto;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.wrapper-footer > footer > p {
    color: #fff;
    font-size: 14px;
}

.wrapper-footer > footer > p > a,
.wrapper-footer > footer > p > a:link,
.wrapper-footer > footer > p > a:visited {
    color: #fff;
    border: 0 none;
}

.wrapper-footer > footer > p > a:hover {
    text-decoration: underline !important;
}


/* ==========================================================================
   Header
   ========================================================================== */

header.global,
header.global.slim {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;

    height: auto;
    padding: 0;
    border: 0 none;
    background-color: #3ea5ce;
}

header.global:hover,
header.global.slim:hover {
    background-color: #64b6d7;
}

header.global > nav,
header.global.slim > nav {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    height: 100px;
    width: auto;
    padding: 15px 10px 0px;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.view-login header.global > nav,
.view-register header.global > nav {
    width: auto;
}

header.global.slim > nav h1.logo:before {
    display: none;
}

header.global > nav h1.logo img {
    margin-top: 2px;
}

header.global.slim > nav h2 {
    padding: 0;
    color: white;
    text-shadow: none;
    margin: 25px 10px 0 10px;
}

header.global.slim > nav h2 span {
    color: #eef0f1;
}

header.global > nav h1.logo,
header.global.slim > nav h1.logo {
    margin: -2px 39px 0px 0px;
    padding: 0;
    float: left;
}

header.global > nav h1.logo img,
header.global.slim > nav h1.logo img {
    height: auto;
}

header.global ol.nav-global {
    margin-top: 24px;
}

.view-login header.global ol.nav-global li a,
.view-register header.global ol.nav-global li a,
header.global ol.nav-global li a {
    font-weight: normal;
    color: #eef0f1 !important;
}

.view-login header.global ol.nav-global li a:hover,
.view-register header.global ol.nav-global li a:hover,
header.global ol.nav-global li a:hover {
    color: #fff !important;
}

header.global ol.nav-courseware {
    margin-top: 15px;
}

.view-login header.global ol.nav-courseware li a.cta-login,
header.global ol.nav-courseware li a.cta-login {
    -webkit-border-radius: 4px;
    border-radius: 4px;

    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;

    display: inline-block;
    border: 1px solid #3ea5ce;
    color: #3ea5ce;
    padding: 10px 20px;
    background-color: white;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
}

header.global ol.nav-courseware li a.cta-login:hover {
    border: 1px solid transparent;
    background-color: #3ea5ce;
    color: #fff;
}

header.global ol.user {
    margin-top: 15px;
}

header.global ol.user ul.dropdown-menu {
    padding: 0;
    z-index: 10;
    top: 36px;
    box-shadow: none;
    border: 1px solid #3ea5ce;
    border-top: 0 none;
    border-top-right-radius: 0;
    background-color: white;
}

header.global ol.user ul.dropdown-menu:before {
    display: none;
}

header.global ol.user ul.dropdown-menu li {
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;

    border: 0 none;
    padding: 3px 8px 3px 8px;
}

header.global ol.user ul.dropdown-menu li > a {
    border: 0 none;
    outline: none;
    color: #3ea5ce !important;
}

header.global ol.user ul.dropdown-menu li:hover {
    background-color: #3ea5ce;
}

header.global ol.user ul.dropdown-menu li:hover > a {
    color: white !important;
}

header.global ol.user > li.primary > a {
    box-shadow: none;

    margin: 0;
    border: 0 none;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;

    display: inline-block;
    border: 1px solid #3ea5ce;
    color: #3ea5ce;
    padding: 10px 20px;
    background-color: white;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    white-space: nowrap;
    text-shadow: none;
}

header.global ol.user > li.primary > a.dropdown {
    padding: 10px;
}

header.global ol.user > li.primary > a:hover,
header.global ol.user > li.primary > a.dropdown.active {
    border-color: transparent;
    background-color: #3ea5ce;
    color: #fff;
}

header.global ol.user > li.primary > a > span.avatar {
    display: none;
}

/* ==========================================================================
   Dashboard
   ========================================================================== */

section.dashboard section.profile-sidebar {
    width: 22%;
    margin: 0;
}

section.dashboard section.profile-sidebar header.profile {
    display: none;
}

section.dashboard section.profile-sidebar section.user-info {
    border: 0 none;
    padding: 0;
}

section.dashboard section.profile-sidebar section.user-info > ul {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    background: none;
    border: 0 none;
    padding: 0 10px 10px
}

section.dashboard section.profile-sidebar section.user-info > ul > li {
    border: 0 none;
    padding: 0;
    margin: 0 0 20px 0;
}

section.dashboard section.my-courses {
    width: 78%;
    margin: 0;
}

section.dashboard section.my-courses > header {
    border: 0 none;
}

section.dashboard section.my-courses .listing-courses .course-item {
    border: 0 none;
    padding: 0;
    margin: 0 0 80px;
}

section.dashboard section.my-courses .listing-courses .course-item .cover {
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    height: auto;
}

section.dashboard section.my-courses .listing-courses .course-item .cover img {
    width: 200px;
    height: 112px;
}

section.dashboard section.my-courses .listing-courses .course-item .cover .cover-course-status {
    text-align: center;
    font-size: 14px;
    padding: 2px 0;
    font-weight: bold;
}

section.dashboard section.my-courses .listing-courses .course-item .cover .cover-course-status.course-open {
    color: #2ecc71;
}

section.dashboard section.my-courses .listing-courses .course-item .cover .cover-course-status.course-ended {
    color: #c0392b;
}

section.dashboard section.my-courses .listing-courses .course-item .cover .cover-course-status.course-soon {
    color: #bdc3c7;
}

section.dashboard section.my-courses .listing-courses .course-item .cover .cover-university {
    padding: 2px 0;
    background-color: #0f70b7;
    background-color: white;
    color: white;
    color: #3ea5ce;
    text-align: center;
    font-weight: bold;
}

section.dashboard section.my-courses .listing-courses .course-item .info h4 {
    font-size: 18px;
}

section.dashboard section.my-courses .listing-courses .course-item .info hr {
    border-color: #ddd;
}

section.dashboard section.my-courses .listing-courses .course-item .info .unregister {
    font-family: FontAwesome;
    position: absolute;
    top: 0;
    right: 10px;
    color: #c0392b;
    font-size: 20px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin: 0;
    float: none;
}

section.dashboard section.my-courses .listing-courses .course-item .info .unregister:before {
    content: "\f00d";
}

section.dashboard section.my-courses .listing-courses .course-item .info p {
    height: 59px;
}

section.dashboard section.my-courses .listing-courses .course-item .info .enter-course {
    -webkit-border-radius: 4px;
    border-radius: 4px;

    box-shadow: none;
    text-shadow: none;
    background: none;
    background-color: #2ecc71;
    border: 1px solid transparent;
    color: white;
}

section.dashboard section.my-courses .listing-courses .course-item .info .enter-course:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    background-color: white;
    border: 1px solid #2ecc71;
    color: #2ecc71;
}

section.dashboard section.my-courses .empty-dashboard-message {
    padding: 20px 0;
}

section.dashboard section.my-courses .empty-dashboard-message > a {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    margin: 0;
    padding: 8px 12px;
    background-color: #fff;
    border-color: #ddd;
}

/* ==========================================================================
   Course about page
   ========================================================================== */

section.course-info header.course-profile {
    background-color: #3ea5ce;
    border: 0 none;
    box-shadow: none;
    height: auto;
    padding: 80px 0;
}

section.course-info header.course-profile .intro-inner-wrapper {
    max-width: 1170px;
    box-shadow: none;
    border: 0 none;
    padding: 0 15px;
    background: none;
}

section.course-info header.course-profile .intro-inner-wrapper .table {
    background: #eef0f1;
}

section.course-info header.course-profile .intro-inner-wrapper .intro > hgroup {
    padding-bottom: 0;
    border: 0 none;
    box-shadow: none;
    margin-bottom: 30px;
}

section.course-info header.course-profile .intro-inner-wrapper .intro > hgroup > .info {
    margin: 10px 0 5px 0;
}

section.course-info header.course-profile .intro-inner-wrapper .intro > hgroup > .info > .course-id {
    border-right: 1px solid #ddd;
    padding-right: 14px;
    margin-right: 10px;
}

section.course-info header.course-profile .intro-inner-wrapper .media .hero img {
    width: 343px;
    height: 193px;
}

section.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong,
section.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register {
    border: 0 none;
    background: none;
    box-shadow: none;
    text-shadow: none;
    background-color: #0f70b7;
    padding: 11px 0 10px 0;
}

section.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:hover:not(:disabled),
section.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:hover:not(:disabled) {
    background: none;
    background-color: #0f70b7;
}

section.course-info header.course-profile .intro-inner-wrapper .intro .main-cta strong:active:not(:disabled),
section.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register:active:not(:disabled) {
    box-shadow: none;
    background-color: #2daae1;
}

section.course-info header.course-profile .intro-inner-wrapper .intro .main-cta a.register,
section.course-info header.course-profile .intro-inner-wrapper .intro .main-cta span.register.private {
    width: 100%;
    cursor: default;
}

section.course-info section.course-sidebar {
    float: right;
    width: 356px;
    margin-left: -400px;
}

section.course-info section.course-sidebar > section.course-summary {
    box-shadow: none;
    border: 0 none;
}

.course-info section.details {
    margin-right: 400px;
    width: auto;
}

section.course-info section.details section {
    overflow: hidden;
    clear: both;
}

section.course-info section.details section h3 {
    font-size: 17px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

section.course-info section.details section p {
    text-align: left;
}

section.course-info section.details section p.justified {
    text-align: justify;
}

section.course-info section.details section p.alert {
    -webkit-border-radius: 5px;
    border-radius: 5px;

    border: 1px solid #c0392b;
    padding: 7px 10px;
    color: #c0392b;
}

section.course-info section.details section p.alert a {
    color: #c0392b;
    text-decoration: underline;
}

section.course-info section.details .inner-wrapper section.course-staff {
    margin-bottom: 0;
}

section.course-info section.details .inner-wrapper section.course-staff article.teacher .teacher-image {
    width: 120px;
    height: 160px;
    margin: 5px 17px 0 0;
}

section.course-info section.details .inner-wrapper section.course-staff article.teacher .teacher-image img {
    width: 120px;
    height: 160px;
}

/* ==========================================================================
   Course info
   ========================================================================== */

.info-wrapper section.updates section article h3 {
    font-size: 0.875em;
    color: #2daae1;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin: 30px 0 0 0;
}

/* ==========================================================================
   Courseware
   ========================================================================== */

.course-wrapper section.course-content article.video-wrapper section.video-controls .vidtime {
    color: white;
}
