.ionisx-alert {
    outline: none;
    box-shadow: none;
    border: 0 none;
    background: none;
    padding: 15px 20px;
    color: inherit;

    h1, h2, h3, h4, h5 {
        font: inherit;
        text-transform: none;
    }

    p {
        font: inherit;
        color: inherit;

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        .ionisx-alert-body();
    }
}

.ionisx-alert-body {
    margin: 0;
    font: inherit;
    font-weight: 300;
    list-style: inherit;
    list-style-position: inside;

    li {
        background: none;
        padding: 0;
    }
}

.ionisx-alert-error {
    background-color: @color-error;
    color: @color-background;

    h1, h2, h3, h4, h5 {
        color: @white;
    }

    ul {
        color: inherit;
    }

    a {
        color: @white;
        text-decoration: underline;
    }
}


.ionisx-alert-warning {
    background-color: @color-warning;
    color: @white;

    h1, h2, h3, h4, h5 {
        color: @white;
    }

    ul {
        color: inherit;
    }

    a {
        color: @white;
        text-decoration: underline;
    }
}
