body,
.view-login,
.view-register,
.view-passwordreset {
    .wrapper-footer {
        border: 0 none;
        box-shadow: none;
        background-color: @gg-blue;

        > footer > p {
            color: @white;
            margin: 0;

            > a, > a:link, > a:visited {
                color: @white;
            }
        }
    }
}
