## mako
<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%namespace name='static' file='static_content.html'/>

<footer>
  <div class="footer-container">
    <nav class="nav">
      <ul>
        <li>
          <a id="about" href="${marketing_link('ABOUT')}">${_("About")}</a>
        </li>
        <li>
          <a id="faq" href="${marketing_link('FAQ')}">${_("FAQ")}</a>
        </li>
        <li>
          <a id="contact" href="${marketing_link('CONTACT')}">${_("Contact")}</a>
        </li>
        <li>
          <a href="${marketing_link('TOS')}">${_("Terms of Service and Honor Code")}</a>
        </li>
        <li>
          <a href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
        </li>
      </ul>
    </nav>
    <div>
      <p class="copyright">${_("&copy; 2014 {platform_name}, some rights reserved.").format(platform_name=platform_name())}</p>
    </div>
    <div class="by-ionisx">
      <a href="https://ionisx.com">
        <img src="${static.url('themes/{theme_name}/images/logo-x-white.png'.format(theme_name=settings.THEME_NAME))}" alt="Theme by IONISx">
      </a>
    </div>
  </div>
</footer>
