## mako
<%! from django.core.urlresolvers import reverse %>
<div class="wrapper-footer">
  <footer>
        <section class="apropos">
            <h3>&Agrave; propos</h3>
            <p>Cr&eacute;&eacute; il y a plus de 30 ans par Marc Sellam, le Groupe IONIS est aujourd'hui le premier groupe de l'enseignement sup&eacute;rieur priv&eacute; en France. Les 19 &eacute;coles et entit&eacute;s du Groupe rassemblent près de 19&nbsp;000 &eacute;tudiants et 62&nbsp;000 anciens en commerce, informatique, a&eacute;ronautique, &eacute;nergie, transport, biologie, gestion, finance, marketing, communication et cr&eacute;ation. Le Groupe IONIS s'est donn&eacute; pour vocation de former la nouvelle intelligence des entreprises. Une forte ouverture à l'international, une grande sensibilit&eacute; à l'innovation, à l'esprit d'entreprendre, une v&eacute;ritable « culture de l'adaptabilit&eacute; et du changement » sont les principales valeurs enseign&eacute;es aux futurs diplôm&eacute;s des &eacute;coles de IONIS Education Group, qui deviendront des acteurs cl&eacute;s de l'&eacute;conomie de demain.</p>
        </section>
<!--
        <section class="nosecoles">
            <h3>Nos écoles</h3>
            <ul class="left">

                <li><a href="http://www.isg.fr" target="_blank" title="ecole commerce paris">ISG</a></li>
                <li><a href="http://bfs.iseg.fr" target="_blank" title="ecole de commerce">ISEG Business<br /> &amp; Finance School</a></li>
                <li class="mcs"><a href="http://mcs.iseg.fr" target="_blank" title="ecole de communication, ecole de marketing, ecole de publicite">ISEG Marketing <br />&amp; Communication School</a></li>
                <li><a href="http://www.isth.fr" target="_blank" title="prepa sciences po hec">ISTH</a></li>
                <li><a href="http://www.ics-begue.com" target="_blank" title="école expert finance">ICS Bégué</a></li>
                <li><a href="http://www.initial-isefac.com" target="_blank" title="bachelor commerce communication">ISEFAC Bachelor</a></li>
                <li><a href="http://www.epita.fr" target="_blank" title="école ingénieur informatique">EPITA</a></li>
                <li><a href="http://www.esme.fr" target="_blank" title="ecole ingenieur">ESME Sudria</a></li>
                <li><a href="http://www.ipsa.fr" target="_blank" title="ecole aeronautique">IPSA</a></li>
            </ul>
            <ul class="right">
                <li><a href="http://www.ecole-ingenieurs.com" target="_blank" title="concours école ingénieurs">Concours Advance</a></li>
                <li><a href="http://www.epitech.eu" target="_blank" title="ecole informatique">Epitech</a></li>
                <li><a href="http://www.supbiotech.fr" target="_blank" title="ecole biotechnologie">Sup'Biotech</a></li>
                <li><a href="http://www.e-artsup.net" target="_blank" title="ecole multimedia">e-artsup</a></li>
                <li><a href="http://www.ionis-stm.com" target="_blank" title="mastere post master management finance informatique">Ionis-STM</a></li>
                <li><a href="http://www.supinternet.fr" target="_blank" title="ecole internet">SUP'Internet</a></li>
                <li><a href="http://www.isefac.org/isefac" target="_blank" title="bts alternance paris">ISEFAC Alternance</a></li>
                <li><a href="http://www.etna-alternance.net" target="_blank" title="informatique alternance">ETNA</a></li>
                <li><a href="http://www.ionis-tutoring.fr" target="_blank" title="cours particuliers à domicile">IONIS Tutoring</a></li>
                <li><a href="http://www.math-secours.com" target="_blank" title="stages de soutien scolaire">Math Secours</a></li>
                <li><a href="http://www.ionis-el.com" target="_blank" title="vae formation permanente">IONIS Executive Learning</a></li>
            </ul>
        </section>
<!-->
        <section class="ionis20">
            <h3>IONIS 2.0</h3>
            <ul>
                <li><a href="http://www.facebook.com/groupe.ionis" target="_blank" class="facebook">Facebook IONIS Education Group</a></li>
                <li><a href="http://twitter.com/Groupe_IONIS" target="_blank" class="twitter">Twitter IONIS Education Group</a></li>
                <li><a href="https://plus.google.com/114600760005242156170/posts" target="_blank" class="googleplus">Google Plus IONIS Education Group</a></li>
                <li><a href="http://feeds.feedburner.com/ActualitesIONISEducationGroup" target="_blank" class="rss">Flux RSS IONIS Education Group</a></li>
            </ul>
        </section>
        <section class="infospratiques">
            <h3>Informations<br />pratiques</h3>
            <ul>
                <li><a href="http://www.ionis-group.com/contact-groupe.aspx">Contacts IONIS</a></li>
                <li><a href="http://www.ionis-group.com/contact-ecoles-groupe.aspx">Contacts &Eacute;coles</a></li>
                <li><a href="http://www.ionis-group.com/revue-de-presse.aspx">Presse</a></li>
                <li><a href="http://www.ionis-group.com/recrutement.aspx">Recrutement</a></li>
                <li><a href="http://www.ionis-group.com/mentions-legales.aspx">Mentions l&eacute;gales</a></li>
                <li><a href="http://www.ionis-group.com/plan-du-site.aspx">Plan du site</a></li>
            </ul>
        </section>
        <div class="clearboth"></div>
    </footer>
</div>

<script type="text/javascript">
<!--
    xtnv = document;        //parent.document or top.document or document         
    xtsd = "http://logc279";
    xtsite = "537008";
    xtn2 = "";        // level 2 site ID
    xtpage = "";        //page name (with the use of :: to create chapters)
    xtdi = "";        //implication degree
    xt_multc = "";                     //all the xi indicators (like "&x1=...&x2=....&x3=...")
    xt_an = "";        //user ID
    xt_ac = "";        //category ID
    //do not modify below
    if (window.xtparam != null) { window.xtparam += "&ac=" + xt_ac + "&an=" + xt_an + xt_multc; }
    else { window.xtparam = "&ac=" + xt_ac + "&an=" + xt_an + xt_multc; };
    //-->
</script>
<script type="text/javascript" src="../static/js/xtclicks.js"></script>
<script type="text/javascript" src="../static/js/xtcore.js"></script>
<noscript>
<img width="1" height="1" alt="" src="http://logc279.xiti.com/hit.xiti?s=537008&s2=&p=&di=&an=&ac=" >
</noscript>

