## mako
<%namespace name='static' file='/static_content.html'/>
<%inherit file="/navigation.html"/>

<%!
import branding
from microsite_configuration import microsite
from microsite_configuration.templatetags.microsite import platform_name
%>

<%block name="navigation_top">
</%block>

<%block name="navigation_logo">
  % if microsite.is_request_in_microsite():
  <span style="background-image:url(${static.url(branding.get_logo_url())})">
  % else:
  <span>
  % endif
    ${platform_name()}
  </span>
</%block>

## When unauthenticated, only show the about page link
<%block name="navigation_global_links">
</%block>
