section.course-info {
    margin-top: 0;

    header.course-profile {
        .square(auto);

        background-color: @gg-blue;
        border: 0 none;
        box-shadow: none;
        margin: 0;
        padding: 80px 0;

        .intro-inner-wrapper {
            .ionisx-container();

            box-shadow: none;
            border: 0 none;
            background: none;

            .table {
                background-color: @gg-grey;
                display: block;
                border-radius: @default-border-radius;

                .intro {
                    .square(auto);
                    display: block;

                    .row.top-row {
                        .media {
                            .size(100%, auto);
                            .make-md-column(4);
                            .make-lg-column(4);

                            padding: 0;
                            display: block;

                            .hero {
                                .square(auto);

                                border: 0 none;
                                padding: 0 0 56.25% 0;
                                position: relative;

                                img {
                                    .square(100%);

                                    position: absolute;
                                    left: 0;
                                    top: 0;
                                }
                            }
                        }

                        .metadata {
                            .size(100%, auto);

                            .make-md-column(8);
                            .make-lg-column(8);

                            margin: -8px 0 0 0;

                            @media (max-width: @screen-sm-max) {
                                padding: 0;
                                margin: 0;
                            }

                            hgroup {
                                color: inherit;

                                h1 {
                                    font: inherit;
                                    font-size: 1.6em;
                                    line-height: 1.4em;
                                    font-weight: @headings-font-weight;
                                    color: inherit;
                                    letter-spacing: normal;
                                    text-align: left;
                                    margin: 0;
                                }
                            }

                            .short-description {
                                padding-top: 20px;
                            }
                        }
                    }

                    .social-sharing {
                        .pull-left();

                        display: block;
                        margin: 20px 0 0 0;
                        padding-right: 10px;

                        a {
                            text-decoration: none;
                            margin-right: 10px;

                            span {
                                font-size: 42px;
                                line-height: 44px;
                                transition: all .1s ease-in;
                                color: @gg-emerald;
                            }

                            &:hover {
                                span {
                                    color: fadeout(@gg-emerald, 50%);
                                }
                            }
                        }
                    }

                    .main-cta {
                        .square(auto);

                        overflow: hidden;
                        float: none;
                        margin: 20px 0 0 0;
                        padding: 0 0 0 20px;
                        border-left: 1px solid @gg-border-grey;

                        a {
                            display: block;
                            margin: 0;
                            padding: 0;

                            strong, &.register, &.add-to-cart {
                                .ionisx-btn(@white, @gg-alt-blue);
                                .size(49%, auto);

                                @media (max-width: @screen-xs-max) {
                                    .size(100%, auto);

                                    display: block;
                                }
                            }

                            &.register, &.add-to-cart, span.register.disabled.private, span.add-to-cart {
                                width: 100%;
                            }

                            span.register.disabled, span.add-to-cart {
                                .ionisx-btn-disabled();
                                .size(49%, auto);

                                margin: 0 2% 0 0;

                                @media (max-width: @screen-xs-max) {
                                    .size(100%, auto);

                                    margin: 0 0 0.8em 0;
                                }
                            }

                            span.register.disabled.private {
                                .ionisx-btn-disabled(@gg-pomegranate);
                                .size(100%, auto);
                            }
                        }
                    }
                }
            }

        }
    }

    .details {
        .square(auto);

        margin: 0;

        .inner-wrapper {
            margin: 60px 0 0 0;

            table.course-summary {
                .table-rounded(4px);

                border: 1px solid @gg-border-grey;
                table-layout: fixed;
                margin: 0 0 60px 0;
                width: 100%;

                thead {
                    background-color: @gg-blue;
                    color: @white;

                    th {
                        font-weight: 600;
                    }

                    span {
                        color: inherit;
                    }
                }

                tbody {
                    background-color: @white;
                }

                th, td {
                    padding: 20px;
                    text-align: center;
                }
            }

            section {
                .clearfix();

                margin: 0 0 30px 0;

                &.about {
                }

                &.planning {
                }

                &.prerequisites {
                }

                &.course-staff {
                    .teacher {
                        margin: 0 0 30px 0;

                        &:last-child {
                            margin: 0;
                        }

                        h3 {
                            font: inherit;
                            color: inherit;
                            // 15px for beautiful wrap
                            margin: 0 0 15px 0;
                            font-weight: @headings-font-weight;
                        }

                        .teacher-image {
                            .square(auto);

                            margin: 5px 12px 0 0;

                            img {
                                min-height: 0;
                                width: 120px;
                                height: 160px;
                            }
                        }
                    }
                }

                &.faq {
                    .response {
                        h3 {
                            font: inherit;
                            color: inherit;
                            font-weight: @headings-font-weight;

                            &:before {
                                font-family: 'FontAwesome';
                                content: '\f054';
                                margin-right: 0.5em;
                                color: @gg-blue;
                            }
                        }
                    }
                }
            }
        }
    }
}
